
    

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>SUBMITED BLOGS</h2>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Author name</th>
        <th>Rollno</th>
        <th>Topic</th>
       
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
        <% sblog.forEach(function(ndata){   %>
            <tr>

                <td><%= ndata.username  %></td>
                <td><%= ndata.rollno  %></td>
                <td style="width:200px"><%= ndata.topic  %></td>
               
                <td>

                    <a href="#">Edit</a><br>
                    <a href="/delete/<%= ndata._id %>">Delete</a><br>
                    <a href="/users/details/<%= ndata._id %>">Show Content</a>


                </td>
                
            </tr>
        <% }) %>
      
    </tbody>
  </table> 
</div>
</body>
</html>

















   